# Environment variables and secrets
.env
.env.local
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
build/
dist/
*.egg-info/

# Virtual Environment
venv/
env/
.venv/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Streamlit specific
.streamlit/secrets.toml

# Operating System
.DS_Store
Thumbs.db
*.log
*.pyc